<!DOCTYPE HTML>
<html>
<head>
    <title>Carpark Monitoring System</title>
    <script type="text/javascript" src="//code.jquery.com/jquery-1.4.2.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.5/socket.io.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/app.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div id="indicate"></div>
    <div id="log"></div>

    <h2 class="header" id="avail"></h2>
    <div class="all">
        <table>
            <caption><a href="{{ url_for('main.generate_csv') }}" title="Export data to CSV">All Floors</a></caption>
            <tr>
                <th>Floor</th>
                <th>Available</th>
                <th>Last Update</th>
            </tr>
        {% for slot, (avail, timestamp) in devices.items() %}
        <tr id="tr_{{ slot }}">
            <td>{{ slot }}</td>
            <td bgcolor="{% if avail == 'available' %}#B6E806{% else %}#FA7268{% endif %}">{{ avail }}</td>
            <td>{{ timestamp }}</td>
        </tr>
        {% endfor %}
        </table>
    </div>

    {% for k, v in floor_groups.items() %}
    <div class="wrap">
        <table>
            <caption><a href="{{ url_for('main.generate_csv', floor=k) }}" title="Export data to CSV">Floor: {{ k }}</a></caption>
            <tr>
                <th>Floor</th>
                <th>Available</th>
                <th>Last Update</th>
            </tr>
        {% for slot in v %}
        <tr id="trs_{{ slot.floor_slot }}">
            <td>{{ slot.floor_slot }}</td>
            <td bgcolor="{% if slot.avail == 'available' %}#B6E806{% else %}#FA7268{% endif %}">{{ slot.avail }}</td>
            <td>{{ slot.timestamp }}</td>
        </tr>
        {% endfor %}
        </table>
    </div>
    {% endfor %}


</body>
</html>
