body {
  font-family: Monospace;
  margin: 0;
}

.header {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size: 60px;
}

div.wrap { 
    width: 45%;
    display: inline-block;
    margin: 10px;
    vertical-align: top
}
div.wrap > table {
    width: 60%;
}

div.all {
    margin: 20px;
}
div.all > table {
    width: 40%
}

table {
    margin: 0 auto;
    text-align: center;
}

td,th {
    padding: 15px;
    border-bottom: 1px solid #ddd;
}

th {
    border-bottom: 2px solid;
}

table>caption {
    border-bottom: 1px solid;
}

tr:hover {background-color: #A0D4DB;}

.embed-wrapper {
    margin: 2%;
    display: flex;
    justify-content: space-evenly;
}

div.nav{
    margin: 0 20% 0 20%;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  border: 1px solid black;
}

li {
  float: left;
}

li a {
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #A0D4DB;
}

.button {
    background-color: #A0D4DB; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.center {
    text-align: center;
}

span.avail {
    background-color: #B6E806;
}

span.occ{
    background-color: #FA7268; 
}

caption>a:hover { background-color: #A0D4DB; }
