body {
  font-family: Monospace;
  margin: 0;
}

/* Header/Logo Title */
.header {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size: 60px;
}

div.wrap { 
    width: 45%;
    display: inline-block;
    margin: 10px;
    vertical-align: top
}
div.wrap > table {
    width: 60%;
}

div.all {
    margin: 20px;
}
div.all > table {
    width: 40%
}

table {
    margin: 0 auto;
}

td,th {
  padding: 15px;
  border-bottom: 1px solid #ddd;
}
th {
  border-bottom: 2px solid;
}
table>caption {
  border-bottom: 1px solid;
}
tr:hover {background-color: #A0D4DB;}
